@rendermode InteractiveServer
@page "/countries/create"
@using Praktikum02.Aids
@using Praktikum02.Blasor.Data
@using Praktikum02.Blasor.Domain
@inject ICountriesRepo repo
@inject NavigationManager Nav

<h1>Add country</h1>

<EditForm Model="_country" OnSubmit="Save">
    <DataAnnotationsValidator />

    @foreach (var prop in adapter.Properties)
    {
        if (prop.PropInfo.Name == "Id"
        || prop.PropInfo.Name == "Timestamp"
        || prop.PropInfo.Name == "ValidTo"
        || prop.PropInfo.Name == "ValidFrom")
            continue;

        <div class="mb-3">
            <label>@prop.PropInfo.Name</label>
            <input class="form-control"
                   value="@prop.PropValue"
                   @onchange="e => prop.SetValue(e.Value?.ToString())" />
        </div>
    }
    <button class="btn btn-success" type="submit">Save</button>
    <button class="btn btn-secondary ms-2" type="button" @onclick="Cancel">Cancel</button>
</EditForm>

@code {
    private Country _country = new();

    private async Task Save()
    {
        await repo.CreateAsync(_country);
        Nav.NavigateTo("/countries");
    }

    private void Cancel() => Nav.NavigateTo("/countries");
    
    private EditorAdapter adapter;
    protected override void OnInitialized()
    {
        adapter = new EditorAdapter(_country);
    }
}