@rendermode InteractiveServer
@page "/countries/delete/{id:guid}"

@using Praktikum02.Blasor.Data
@using Praktikum02.Blasor.Domain
@inject ICountriesRepo repo
@inject NavigationManager Nav

<h1>Delete country</h1>

@if (_country != null)
{
    <p>Delete <b>@_country.Code</b> - @_country.Name ?</p>

    <button class="btn btn-danger" @onclick="Delete">Delete</button>
    <button class="btn btn-secondary ms-2" @onclick="Cancel">Cancel</button>
}

@code {
    [Parameter] public Guid id { get; set; }

    private Country? _country;

    protected override async Task OnInitializedAsync()
    {
        _country = await repo.GetAsync(id);
    }

    private async Task Delete()
    {
        await repo.DeleteAsync(id);

        Nav.NavigateTo("/countries");
    }

    private void Cancel() => Nav.NavigateTo("/countries");
}