@rendermode InteractiveServer
@page "/countries/edit/{id:guid}"
@using Praktikum02.Aids

@using Praktikum02.Blasor.Data
@inject MovieContext Db
@inject NavigationManager Nav

<h1>Edit country</h1>

@if (_country != null)
{
    <EditForm Model="_country" OnValidSubmit="Save">
        <DataAnnotationsValidator />

        @foreach (var prop in adapter.Properties)
        {
            if (prop.PropInfo.Name == "Id" || prop.PropInfo.Name == "Timestamp")
                continue;

            <div class="mb-3">
                <label>@prop.PropInfo.Name</label>
                @if (prop.PropType == typeof(DateTime))
                {
                    <input class="form-control"
                           value="@prop.PropValue"
                           @onchange="e => prop.SetValue(DateTime.Parse(e.Value.ToString()))" />
                }
                else
                {
                    <input class="form-control"
                           value="@prop.PropValue"
                           @onchange="e => prop.SetValue(e.Value?.ToString())" />
                }
            </div>
        }

        <button class="btn btn-success" type="submit">Save</button>
        <button class="btn btn-secondary ms-2" type="button" @onclick="Cancel">Cancel</button>
    </EditForm>
}

@code {
    [Parameter] public Guid id { get; set; }

    private Country? _country;

    protected override async Task OnInitializedAsync()
    {
        _country = await Db.Countries.FindAsync(id);

        if (_country != null)
        {
            adapter = new EditorAdapter(_country);
        }
    }

    private async Task Save()
    {
        await Db.SaveChangesAsync();
        Nav.NavigateTo("/countries");
    }

    private void Cancel() => Nav.NavigateTo("/countries");
    private EditorAdapter adapter;
}