@using Praktikum02.Blasor.Components.Shared
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Praktikum02.Blasor</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <MyNavLink Href="" Match="NavLinkMatch.All" Text="Home" />
        <MyNavLink Href="movies" Text="Movies" />
        <MyNavLink Href="currencies" Text="Currencies" />
        <MyNavLink Href="counter" Text="Counter" />
        <MyNavLink Href="weather" Text="Weather" />
        <MyNavLink Href="countries" Text="Countries" />
    </nav>
</div>

