@rendermode InteractiveServer
@page "/movies"
@using Microsoft.EntityFrameworkCore
@using Praktikum02.MovieApp.Models
@inject Praktikum02.MovieApp.Data.MovieContext Db
<PageTitle>Movies</PageTitle>

<h1>Movies</h1>

<NavLink class="btn btn-primary" href="/movies/create">
    Add movie
</NavLink>

@if (_movies is null)
{
    <p><em>Loading...</em></p>
}
else if (_movies.Count == 0)
{
    <p>No movies yet. Click <b>Add movie</b>.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Release</th>
                <th>Genre</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in _movies)
            {
                <tr>
                    <td>@m.Title</td>
                    <td>@m.ReleaseDate.ToString("yyyy-MM-dd")</td>
                    <td>@m.Genre</td>
                    <td>@m.Price</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Movie>? _movies;

    protected override async Task OnInitializedAsync()
    {
        _movies = await Db.Movies
            .AsNoTracking()
            .OrderBy(m => m.Title)
            .ToListAsync();
    }

}