@rendermode InteractiveServer
@page "/movies/create"
@using Praktikum02.MovieApp.Components.Shared
@using Praktikum02.MovieApp.Data
@using Praktikum02.MovieApp.Data
@inject Praktikum02.MovieApp.Data.MovieContext Db
@inject NavigationManager Nav

<PageTitle>Add movie</PageTitle>

<h1>Add movie</h1>

<EditForm Model="@_movie" FormName="CreateMovie" OnValidSubmit="@HandleValidSubmit">

    <DataAnnotationsValidator />
    <ValidationSummary />
    <MyEditItem Label="Title">
        <InputText class="form-control" @bind-Value="_movie.Title" />
        <ValidationMessage For="@(() => _movie.Title)" />
    </MyEditItem>

    <MyEditItem Label="Release date">
        <InputDate class="form-control" @bind-Value="_movie.ReleaseDate" />
    </MyEditItem>

    <MyEditItem Label="Genre">
        <InputText class="form-control" @bind-Value="_movie.Genre" />
    </MyEditItem>

    <MyEditItem Label="Price">
        <InputNumber class="form-control" @bind-Value="_movie.Price" />
    </MyEditItem>
    <button class="btn btn-success" type="submit">Save</button>
    <button class="btn btn-secondary ms-2" type="button" @onclick="Cancel">Cancel</button>
</EditForm>

@code {
    private Movie _movie = new()
    {
        ReleaseDate = DateTime.Today
    };

    private async Task HandleValidSubmit()
    {
        Db.Movies.Add(_movie);
        await Db.SaveChangesAsync();
        Nav.NavigateTo("/movies");
    }

    private void Cancel()
    {
        Nav.NavigateTo("/movies");
    }
}
}
