@rendermode InteractiveServer
@page "/currencies/details/{id:guid}"

@using Praktikum02.Blasor.Data
@using Praktikum02.Blasor.Domain
@inject ICurrenciesRepo repo
@inject NavigationManager Nav

<h1>Currency details</h1>

@if (_currency != null)
{
    <p><b>Code:</b> @_currency.Code</p>
    <p><b>Name:</b> @_currency.Name</p>
    <p><b>Symbol:</b> @_currency.Symbol</p>

    <button class="btn btn-secondary" @onclick="Back">Back</button>
}

@code {
    [Parameter] public Guid id { get; set; }

    private Currency? _currency;

    protected override async Task OnInitializedAsync()
    {
        _currency = await repo.GetAsync(id);
    }

    private void Back() => Nav.NavigateTo("/currencies");
}