@rendermode InteractiveServer
@page "/movies"
@using Microsoft.EntityFrameworkCore
@using Praktikum02.Blasor.Components.Shared
@using Praktikum02.Blasor.Data
@inject Praktikum02.Blasor.Data.MovieContext Db
<PageTitle>Movies</PageTitle>

<h1>Movies</h1>

<NavLink class="btn btn-primary" href="/movies/create">
    Add movie
</NavLink>

@if (_movies is null)
{
    <p><em>Loading...</em></p>
}
else if (_movies.Count == 0)
{
    <p>No movies yet. Click <b>Add movie</b>.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Release</th>
                <th>Genre</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in _movies)
{
    <MyMovieRow Movie="m" />
}
        </tbody>
    </table>
}

@code {
    private List<Movie>? _movies;

    protected override async Task OnInitializedAsync()
    {
        _movies = await Db.Movies
            .AsNoTracking()
            .OrderBy(m => m.Title)
            .ToListAsync();
    }

}