@rendermode InteractiveServer
@page "/movies/edit/{id:guid}"
@using Microsoft.EntityFrameworkCore
@using Praktikum02.Blasor.Components.Shared
@using Praktikum02.Blasor.Data
@using Praktikum02.Blasor.Domain
@inject IMoviesRepo repo
@inject NavigationManager Nav

<PageTitle>Edit movie</PageTitle>

<h1>Edit movie</h1>

@if (_movie == null)
{
    <p>Loading...</p>
}
else
{
    <EditForm Model="@_movie" OnSubmit="@HandleSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <MyEditItem Label="Title">
            <InputText class="form-control" @bind-Value="_movie.Title" />
            <ValidationMessage For="@(() => _movie.Title)" />
        </MyEditItem>

        <MyEditItem Label="Release date">
            <InputDate class="form-control" @bind-Value="_movie.ReleaseDate" />
        </MyEditItem>

        <MyEditItem Label="Genre">
            <InputText class="form-control" @bind-Value="_movie.Genre" />
        </MyEditItem>

        <MyEditItem Label="Price">
            <InputNumber class="form-control" @bind-Value="_movie.Price" />
        </MyEditItem>

        <button class="btn btn-success" type="submit">Save</button>
        <button class="btn btn-secondary ms-2" type="button" @onclick="Cancel">Cancel</button>
    </EditForm>
}

@code {
    [Parameter] public Guid id { get; set; }

    private Movie? _movie;

    protected override async Task OnInitializedAsync()
    {
        _movie = await repo.GetAsync(id);
    }

    private async Task HandleSubmit()
    {
        if (_movie != null)
        {
            await repo.UpdateAsync(_movie);
        }

        Nav.NavigateTo("/movies");
    }

    private void Cancel()
    {
        Nav.NavigateTo("/movies");
    }
}